.link-wrap {
  cursor: pointer;
  text-decoration: none;
  display: block;
  color: #333;
}
.hover-link {
}

.link-wrap-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 11.111vh;
  background-color: white;
  border-bottom: 1px solid rgb(204, 204, 204);
  border-right: 1px solid rgb(204, 204, 204);
  border-radius: 8px;
  box-sizing: border-box;
  padding: 0 5px;
}
.link-wrap-div.active {
  background-color: #e4e6e9;
  border: 1px solid #ccc;
  font-weight: bold;
}
.link-wrap-div:hover {
  background-color: #e4e6e9;
  border: 1px solid #ccc;
}
.link-wrap-div-img {
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  padding: 5px;
}
.link-wrap-div-img.active {
    height: 35px;
    width: 35px;
}